---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getUniqueTags, getFilteredPosts, getAllPosts } from "../../utils.astro";

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  return getUniqueTags(allPosts).map((tag) => ({ params: { tag }, props: { posts: getFilteredPosts({posts: allPosts, tag}) } }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={`Tags | ${tag}`}>
  <style slot="head">
    h1 {
      text-transform: capitalize;
    }
  </style>

  <h1 slot="title">{tag}</h1>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map(({url, title }) => url && <BlogPost url={url} title={title}/>)}
  </ul>
</BaseLayout>
